<%- include('../../partials/admin/navbar') %>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-2 text-gray-800">Sell Property</h1> -->
                    <!-- <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. -->
                        <!-- For more information about DataTables, please visit the <a target="_blank" -->
                            <!-- href="https://datatables.net">official DataTables documentation</a>.</p> -->

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Edit  Property</h6>
                        </div>
                        <div class="card-body">
                            <div class="form-container container">
                                <!-- <h2 class="mb-4">Post Your Property for Sale</h2> -->
                                <form action="/admin/update-property/<%= property.id %>" method="POST" enctype="multipart/form-data">
                                  <div class="row">
                                    <!-- Column 1 -->
                                    <div class="col-md-6">
                                      <div class="mb-3">
                                        <label>Property Title</label>
                                        <input class="form-control" type="text" value="<%= property.title %>" name="title" required>

                                          </div>
                                      <div class="mb-3">
                                        <label>Description</label>
                                        <textarea class="form-control" name="description" rows="4" required><%= property.description %></textarea>
                                      </div>


                                      
                                      <div class="mb-3">
                                        <label>State</label>
                                        <select name="state" class="form-control" id="inputState">
                                          <option value="SelectState">Select State</option>
                                          <option value="Andra Pradesh" <%= property.state === "Andra Pradesh" ? "selected" : "" %>>Andra Pradesh</option>
                                          <option value="Arunachal Pradesh"  <%= property.state === "Arunachal Pradesh" ? "selected" : "" %>>Arunachal Pradesh</option>
                                          <option value="Assam"<%= property.state === "Assam" ? "selected" : "" %> >Assam</option>
                                          <option value="Bihar" <%= property.state === "Bihar" ? "selected" : "" %>>Bihar</option>
                                          <option value="Chhattisgarh" <%= property.state === "Chhattisgarh" ? "selected" : "" %>>Chhattisgarh</option>
                                          <option value="Goa" <%= property.state === "Goa" ? "selected":"" %>>Goa</option>
                                          <option value="Gujarat" <%= property.state === "Gujarat" ? "selected":"" %>>Gujarat</option>
                                          <option value="Haryana" <%= property.state === "Haryana" ? "selected":"" %>>Haryana</option>
                                          <option value="Himachal Pradesh"<%= property.state === "Himachal Pradesh" ? "selected" : "" %> >>Himachal Pradesh</option>
                                          <option value="Jammu and Kashmir" <%= property.state === "Jammu and Kashmir" ? "selected" : "" %>>Jammu and Kashmir</option>
                                          <option value="Jharkhand"<%= property.state === "Jharkhand" ? "selected" : "" %>>Jharkhand</option>
                                          <option value="Karnataka" <%= property.state === "Karnataka" ? "selected" : "" %>Karnataka</option>
                                          <option value="Kerala"<%= property.state === "Kerala" ? "selected" : "" %>>Kerala</option>
                                          <option value="Madya Pradesh"<%= property.state === "Madya Pradesh" ? "selected" : "" %>>Madya Pradesh</option>
                                          <option value="Maharashtra"<%= property.state === "Maharashtra" ? "selected" : "" %>>Maharashtra</option>
                                          <option value="Manipur"<%= property.state === "Manipur" ? "selected" : "" %>>Manipur</option>
                                          <option value="Meghalaya"<%= property.state === "Meghalaya" ? "selected" : "" %>>Meghalaya</option>
                                          <option value="Mizoram"<%= property.state === "Mizoram" ? "selected" : "" %>>Mizoram</option>
                                          <option value="Nagaland"<%= property.state === "Nagaland" ? "selected" : "" %>>Nagaland</option>
                                          <option value="Orissa"<%= property.state === "Orissa" ? "selected" : "" %>>Orissa</option>
                                          <option value="Punjab"<%= property.state === "Punjab" ? "selected" : "" %>>Punjab</option>
                                          <option value="Rajasthan"<%= property.state === "Rajasthan" ? "selected" : "" %>>Rajasthan</option>
                                          <option value="Sikkim"<%= property.state === "Sikkim" ? "selected" : "" %>>Sikkim</option>
                                          <option value="Tamil Nadu"<%= property.state === "Tamil Nadu" ? "selected" : "" %>>Tamil Nadu</option>
                                          <option value="Telangana"<%= property.state === "Telangana" ? "selected" : "" %>>Telangana</option>
                                          <option value="Tripura"<%= property.state === "Tripura" ? "selected" : "" %>>Tripura</option>
                                          <option value="Uttaranchal"<%= property.state === "Uttaranchal" ? "selected" : "" %>Uttaranchal</option>
                                          <option value="Uttar Pradesh"<%= property.state === "Uttar Pradesh" ? "selected" : "" %>>Uttar Pradesh</option>
                                          <option value="West Bengal"<%= property.state === "West Bengal" ? "selected" : "" %>>West Bengal</option>
                                          <option disabled style="background-color:#aaa; color:#fff">UNION Territories</option>
                                          <option value="Andaman and Nicobar Islands"<%= property.state === "Andaman and Nicobar Islands" ? "selected" : "" %>>Andaman and Nicobar Islands</option>
                                          <option value="Chandigarh"<%= property.state === "Chandigarh" ? "selected" : "" %>>Chandigarh</option>
                                          <option value="Dadar and Nagar Haveli"<%= property.state === "Dadar and Nagar Haveli" ? "selected" : "" %>>Dadar and Nagar Haveli</option>
                                          <option value="Daman and Diu"<%= property.state === "Daman and Diu" ? "selected" : "" %>>Daman and Diu</option>
                                          <option value="Delhi"<%= property.state === "Delhi" ? "selected" : "" %>>Delhi</option>
                                          <option value="Lakshadeep"<%= property.state === "Lakshadeep" ? "selected" : "" %>>Lakshadeep</option>
                                          <option value="Pondicherry"<%= property.state === "Pondicherry" ? "selected" : "" %>>Pondicherry</option>
                                        </select>
                                        <!-- <input class="form-control" type="text" name="country" required> -->
                                      </div>
                                      
                                      <div class="mb-3">
                                        <label>City</label>
                                        <select name="city" class="form-control" id="inputDistrict">
                                          <option value="">-- select one -- </option>
                                      </select>
                                        <!-- <input class="form-control" type="text" name="city" required> -->
                                      </div>
                                     
                                      <div class="mb-3">
                                        <label>Price (INR)</label>
                                        <input class="form-control" type="number" value="<%= property.price %>" name="price" required>
                                      </div>
                                      
                                      <div class="mb-3">
                                       
                                        <% if (property.images && property.images.length > 0) { %>
                                          <% property.images.forEach(image => { %>
                                            <div class="col-md-4 mb-2">
                                              <img src="/uploads/<%= image %>" alt="Property Image" class="img-fluid rounded" style="height: 150px; object-fit: cover;">
                                            </div>
                                          <% }) %>
                                        <% } else { %>
                                          <p>No images uploaded yet.</p>
                                        <% } %>
                                      
                                      <label>Upload Property Images</label>
                                      <input class="form-control" type="file" name="images" multiple>
                                    </div>
                                    </div>
                              
                                    <!-- Column 2 -->
                                    <div class="col-md-6">
                                      <div class="mb-3">
                                        <label>Land Type</label>
                                        
                                        <select class="form-control property-type" name="propertytype" required>
                                          <option value="">--Select Type--</option>
                                          <% Lands.forEach((land) => { %>
                                            <option value="<%= land.land_type %>" <%= land.land_type === property.LandType ? "selected" : "" %> >
                                              <%= land.land_type %>
                                            </option>
                                          <% }); %>
                                        </select>
                                      </div>
                                      <div class="mb-3">
                                        <label>Land Area Measurement</label>
                                        <select class="form-control area-type" name="areameasure" required>
                                          <option value="">--Select Area Measurement--</option>
                                          <option value="Acre" <%= property.areameasure === "Acre" ? "selected" : "" %>>Acre</option>
                                          <option value="Bigha"<%= property.areameasure === "Bigha" ? "selected" : "" %>>Bigha</option>
                                          <option value="Square yard"<%= property.areameasure === "Square yard" ? "selected" : "" %>>Square yard</option>
                                          <option value="Square feet"<%= property.areameasure === "Square feet" ? "selected" : "" %>>Square feet</option>
                                          <option value="Kanal"<%= property.areameasure === "Kanal" ? "selected" : "" %>>Kanal</option>
                                        </select>
                                      </div>

                                      <div class="mb-3 area">
                                        <label>Area (sqft)</label>
                                        <input class="form-control" type="number" name="area" value="<%= property.area %>"  required>
                                      </div>
                                      <div class="mb-3">
                                        <label>country</label>
                                        <input class="form-control" type="text" name="country" value="india"  required readonly>
                                      </div>
                                     
                                      <div class="mb-3">
                                        <label>Full Address</label>
                                        <textarea class="form-control" name="address" rows="2"><%= property.address %></textarea>
                                      </div>
                                      <div class="mb-3">
                                        <label>Pincode</label>
                                        <input class="form-control" type="text" value="<%= property.pincode %>" name="pincode" required>
                                      </div>
                                     
                                      <!-- Contact -->
                                      <div class="mb-3">
                                        <label>Seller Name</label>
                                        <input class="form-control" type="text" name="sellerName" value="<%= property.sellerName %>" required>
                                      </div>
                                      <div class="mb-3">
                                        <label>Phone Number</label>
                                        <input class="form-control" type="text" name="phone" value="<%= property.phone %>" required>
                                      </div>
                                      <div class="mb-3">
                                        <label>Email</label>
                                        <input class="form-control" type="email" name="email" value="<%= property.email %>" required>
                                      </div>
                                    </div>
                                  </div>
                              
                           <button type="submit" class="btn btn-primary mt-4">Update Property</button>
                                </form>
                              </div>
                              
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
            <script>
              var AndraPradesh = ["Anantapur","Chittoor","East Godavari","Guntur","Kadapa","Krishna","Kurnool","Prakasam","Nellore","Srikakulam","Visakhapatnam","Vizianagaram","West Godavari"];
            var ArunachalPradesh = ["Anjaw","Changlang","Dibang Valley","East Kameng","East Siang","Kra Daadi","Kurung Kumey","Lohit","Longding","Lower Dibang Valley","Lower Subansiri","Namsai","Papum Pare","Siang","Tawang","Tirap","Upper Siang","Upper Subansiri","West Kameng","West Siang","Itanagar"];
            var Assam = ["Baksa","Barpeta","Biswanath","Bongaigaon","Cachar","Charaideo","Chirang","Darrang","Dhemaji","Dhubri","Dibrugarh","Goalpara","Golaghat","Hailakandi","Hojai","Jorhat","Kamrup Metropolitan","Kamrup (Rural)","Karbi Anglong","Karimganj","Kokrajhar","Lakhimpur","Majuli","Morigaon","Nagaon","Nalbari","Dima Hasao","Sivasagar","Sonitpur","South Salmara Mankachar","Tinsukia","Udalguri","West Karbi Anglong"];
            var Bihar = ["Araria","Arwal","Aurangabad","Banka","Begusarai","Bhagalpur","Bhojpur","Buxar","Darbhanga","East Champaran","Gaya","Gopalganj","Jamui","Jehanabad","Kaimur","Katihar","Khagaria","Kishanganj","Lakhisarai","Madhepura","Madhubani","Munger","Muzaffarpur","Nalanda","Nawada","Patna","Purnia","Rohtas","Saharsa","Samastipur","Saran","Sheikhpura","Sheohar","Sitamarhi","Siwan","Supaul","Vaishali","West Champaran"];
            var Chhattisgarh = ["Balod","Baloda Bazar","Balrampur","Bastar","Bemetara","Bijapur","Bilaspur","Dantewada","Dhamtari","Durg","Gariaband","Janjgir Champa","Jashpur","Kabirdham","Kanker","Kondagaon","Korba","Koriya","Mahasamund","Mungeli","Narayanpur","Raigarh","Raipur","Rajnandgaon","Sukma","Surajpur","Surguja"];
            var Goa = ["North Goa","South Goa"];
            var Gujarat = ["Ahmedabad","Amreli","Anand","Aravalli","Banaskantha","Bharuch","Bhavnagar","Botad","Chhota Udaipur","Dahod","Dang","Devbhoomi Dwarka","Gandhinagar","Gir Somnath","Jamnagar","Junagadh","Kheda","Kutch","Mahisagar","Mehsana","Morbi","Narmada","Navsari","Panchmahal","Patan","Porbandar","Rajkot","Sabarkantha","Surat","Surendranagar","Tapi","Vadodara","Valsad"];
            var Haryana = ["Ambala","Bhiwani","Charkhi Dadri","Faridabad","Fatehabad","Gurugram","Hisar","Jhajjar","Jind","Kaithal","Karnal","Kurukshetra","Mahendragarh","Mewat","Palwal","Panchkula","Panipat","Rewari","Rohtak","Sirsa","Sonipat","Yamunanagar"];
            var HimachalPradesh = ["Bilaspur","Chamba","Hamirpur","Kangra","Kinnaur","Kullu","Lahaul Spiti","Mandi","Shimla","Sirmaur","Solan","Una"];
            var JammuKashmir = ["Anantnag","Bandipora","Baramulla","Budgam","Doda","Ganderbal","Jammu","Kargil","Kathua","Kishtwar","Kulgam","Kupwara","Leh","Poonch","Pulwama","Rajouri","Ramban","Reasi","Samba","Shopian","Srinagar","Udhampur"];
            var Jharkhand = ["Bokaro","Chatra","Deoghar","Dhanbad","Dumka","East Singhbhum","Garhwa","Giridih","Godda","Gumla","Hazaribagh","Jamtara","Khunti","Koderma","Latehar","Lohardaga","Pakur","Palamu","Ramgarh","Ranchi","Sahebganj","Seraikela Kharsawan","Simdega","West Singhbhum"];
            var Karnataka = ["Bagalkot","Bangalore Rural","Bangalore Urban","Belgaum","Bellary","Bidar","Vijayapura","Chamarajanagar","Chikkaballapur","Chikkamagaluru","Chitradurga","Dakshina Kannada","Davanagere","Dharwad","Gadag","Gulbarga","Hassan","Haveri","Kodagu","Kolar","Koppal","Mandya","Mysore","Raichur","Ramanagara","Shimoga","Tumkur","Udupi","Uttara Kannada","Yadgir"];
            var Kerala = ["Alappuzha","Ernakulam","Idukki","Kannur","Kasaragod","Kollam","Kottayam","Kozhikode","Malappuram","Palakkad","Pathanamthitta","Thiruvananthapuram","Thrissur","Wayanad"];
            var MadhyaPradesh = ["Agar Malwa","Alirajpur","Anuppur","Ashoknagar","Balaghat","Barwani","Betul","Bhind","Bhopal","Burhanpur","Chhatarpur","Chhindwara","Damoh","Datia","Dewas","Dhar","Dindori","Guna","Gwalior","Harda","Hoshangabad","Indore","Jabalpur","Jhabua","Katni","Khandwa","Khargone","Mandla","Mandsaur","Morena","Narsinghpur","Neemuch","Panna","Raisen","Rajgarh","Ratlam","Rewa","Sagar","Satna",
            "Sehore","Seoni","Shahdol","Shajapur","Sheopur","Shivpuri","Sidhi","Singrauli","Tikamgarh","Ujjain","Umaria","Vidisha"];
            var Maharashtra = ["Ahmednagar","Akola","Amravati","Aurangabad","Beed","Bhandara","Buldhana","Chandrapur","Dhule","Gadchiroli","Gondia","Hingoli","Jalgaon","Jalna","Kolhapur","Latur","Mumbai City","Mumbai Suburban","Nagpur","Nanded","Nandurbar","Nashik","Osmanabad","Palghar","Parbhani","Pune","Raigad","Ratnagiri","Sangli","Satara","Sindhudurg","Solapur","Thane","Wardha","Washim","Yavatmal"];
            var Manipur = ["Bishnupur","Chandel","Churachandpur","Imphal East","Imphal West","Jiribam","Kakching","Kamjong","Kangpokpi","Noney","Pherzawl","Senapati","Tamenglong","Tengnoupal","Thoubal","Ukhrul"];
            var Meghalaya = ["East Garo Hills","East Jaintia Hills","East Khasi Hills","North Garo Hills","Ri Bhoi","South Garo Hills","South West Garo Hills","South West Khasi Hills","West Garo Hills","West Jaintia Hills","West Khasi Hills"];
            var Mizoram = ["Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip","Aizawl","Champhai","Kolasib","Lawngtlai","Lunglei","Mamit","Saiha","Serchhip"];
            var Nagaland = ["Dimapur","Kiphire","Kohima","Longleng","Mokokchung","Mon","Peren","Phek","Tuensang","Wokha","Zunheboto"];
            var Odisha = ["Angul","Balangir","Balasore","Bargarh","Bhadrak","Boudh","Cuttack","Debagarh","Dhenkanal","Gajapati","Ganjam","Jagatsinghpur","Jajpur","Jharsuguda","Kalahandi","Kandhamal","Kendrapara","Kendujhar","Khordha","Koraput","Malkangiri","Mayurbhanj","Nabarangpur","Nayagarh","Nuapada","Puri","Rayagada","Sambalpur","Subarnapur","Sundergarh"];
            var Punjab = ["Amritsar","Barnala","Bathinda","Faridkot","Fatehgarh Sahib","Fazilka","Firozpur","Gurdaspur","Hoshiarpur","Jalandhar","Kapurthala","Ludhiana","Mansa","Moga","Mohali","Muktsar","Pathankot","Patiala","Rupnagar","Sangrur","Shaheed Bhagat Singh Nagar","Tarn Taran"];
            var Rajasthan = ["Ajmer","Alwar","Banswara","Baran","Barmer","Bharatpur","Bhilwara","Bikaner","Bundi","Chittorgarh","Churu","Dausa","Dholpur","Dungarpur","Ganganagar","Hanumangarh","Jaipur","Jaisalmer","Jalore","Jhalawar","Jhunjhunu","Jodhpur","Karauli","Kota","Nagaur","Pali","Pratapgarh","Rajsamand","Sawai Madhopur","Sikar","Sirohi","Tonk","Udaipur"];
            var Sikkim = ["East Sikkim","North Sikkim","South Sikkim","West Sikkim"];
            var TamilNadu = ["Ariyalur","Chennai","Coimbatore","Cuddalore","Dharmapuri","Dindigul","Erode","Kanchipuram","Kanyakumari","Karur","Krishnagiri","Madurai","Nagapattinam","Namakkal","Nilgiris","Perambalur","Pudukkottai","Ramanathapuram","Salem","Sivaganga","Thanjavur","Theni","Thoothukudi","Tiruchirappalli","Tirunelveli","Tiruppur","Tiruvallur","Tiruvannamalai","Tiruvarur","Vellore","Viluppuram","Virudhunagar"];
            var Telangana = ["Adilabad","Bhadradri Kothagudem","Hyderabad","Jagtial","Jangaon","Jayashankar","Jogulamba","Kamareddy","Karimnagar","Khammam","Komaram Bheem","Mahabubabad","Mahbubnagar","Mancherial","Medak","Medchal","Nagarkurnool","Nalgonda","Nirmal","Nizamabad","Peddapalli","Rajanna Sircilla","Ranga Reddy","Sangareddy","Siddipet","Suryapet","Vikarabad","Wanaparthy","Warangal Rural","Warangal Urban","Yadadri Bhuvanagiri"];
            var Tripura = ["Dhalai","Gomati","Khowai","North Tripura","Sepahijala","South Tripura","Unakoti","West Tripura"];
            var UttarPradesh = ["Agra","Aligarh","Allahabad","Ambedkar Nagar","Amethi","Amroha","Auraiya","Azamgarh","Baghpat","Bahraich","Ballia","Balrampur","Banda","Barabanki","Bareilly","Basti","Bhadohi","Bijnor","Budaun","Bulandshahr","Chandauli","Chitrakoot","Deoria","Etah","Etawah","Faizabad","Farrukhabad","Fatehpur","Firozabad","Gautam Buddha Nagar","Ghaziabad","Ghazipur","Gonda","Gorakhpur","Hamirpur","Hapur","Hardoi","Hathras","Jalaun","Jaunpur","Jhansi","Kannauj","Kanpur Dehat","Kanpur Nagar","Kasganj","Kaushambi","Kheri","Kushinagar","Lalitpur","Lucknow","Maharajganj","Mahoba","Mainpuri","Mathura","Mau","Meerut","Mirzapur","Moradabad","Muzaffarnagar","Pilibhit","Pratapgarh","Raebareli","Rampur","Saharanpur","Sambhal","Sant Kabir Nagar","Shahjahanpur","Shamli","Shravasti","Siddharthnagar","Sitapur","Sonbhadra","Sultanpur","Unnao","Varanasi"];
            var Uttarakhand  = ["Almora","Bageshwar","Chamoli","Champawat","Dehradun","Haridwar","Nainital","Pauri","Pithoragarh","Rudraprayag","Tehri","Udham Singh Nagar","Uttarkashi"];
            var WestBengal = ["Alipurduar","Bankura","Birbhum","Cooch Behar","Dakshin Dinajpur","Darjeeling","Hooghly","Howrah","Jalpaiguri","Jhargram","Kalimpong","Kolkata","Malda","Murshidabad","Nadia","North 24 Parganas","Paschim Bardhaman","Paschim Medinipur","Purba Bardhaman","Purba Medinipur","Purulia","South 24 Parganas","Uttar Dinajpur"];
            var AndamanNicobar = ["Nicobar","North Middle Andaman","South Andaman"];
            var Chandigarh = ["Chandigarh"];
            var DadraHaveli = ["Dadra Nagar Haveli"];
            var DamanDiu = ["Daman","Diu"];
            var Delhi = ["Central Delhi","East Delhi","New Delhi","North Delhi","North East Delhi","North West Delhi","Shahdara","South Delhi","South East Delhi","South West Delhi","West Delhi"];
            var Lakshadweep = ["Lakshadweep"];
            var Puducherry = ["Karaikal","Mahe","Puducherry","Yanam"];
            
            
            $("#inputState").change(function(){
              console.log("Sdsmdnsmndm")
              var StateSelected = $(this).val();
              var optionsList;
              var htmlString = "";
            
              switch (StateSelected) {
                case "Andra Pradesh":
                    optionsList = AndraPradesh;
                    break;
                case "Arunachal Pradesh":
                    optionsList = ArunachalPradesh;
                    break;
                case "Assam":
                    optionsList = Assam;
                    break;
                case "Bihar":
                    optionsList = Bihar;
                    break;
                case "Chhattisgarh":
                    optionsList = Chhattisgarh;
                    break;
                case "Goa":
                    optionsList = Goa;
                    break;
                case  "Gujarat":
                    optionsList = Gujarat;
                    break;
                case "Haryana":
                    optionsList = Haryana;
                    break;
                case "Himachal Pradesh":
                    optionsList = HimachalPradesh;
                    break;
                case "Jammu and Kashmir":
                    optionsList = JammuKashmir;
                    break;
                case "Jharkhand":
                    optionsList = Jharkhand;
                    break;
                case  "Karnataka":
                    optionsList = Karnataka;
                    break;
                case "Kerala":
                    optionsList = Kerala;
                    break;
                case  "Madya Pradesh":
                    optionsList = MadhyaPradesh;
                    break;
                case "Maharashtra":
                    optionsList = Maharashtra;
                    break;
                case  "Manipur":
                    optionsList = Manipur;
                    break;
                case "Meghalaya":
                    optionsList = Meghalaya ;
                    break;
                case  "Mizoram":
                    optionsList = Mizoram;
                    break;
                case "Nagaland":
                    optionsList = Nagaland;
                    break;
                case  "Orissa":
                    optionsList = Orissa;
                    break;
                case "Punjab":
                    optionsList = Punjab;
                    break;
                case  "Rajasthan":
                    optionsList = Rajasthan;
                    break;
                case "Sikkim":
                    optionsList = Sikkim;
                    break;
                case  "Tamil Nadu":
                    optionsList = TamilNadu;
                    break;
                case  "Telangana":
                    optionsList = Telangana;
                    break;
                case "Tripura":
                    optionsList = Tripura ;
                    break;
                case  "Uttaranchal":
                    optionsList = Uttaranchal;
                    break;
                case  "Uttar Pradesh":
                    optionsList = UttarPradesh;
                    break;
                case "West Bengal":
                    optionsList = WestBengal;
                    break;
                case  "Andaman and Nicobar Islands":
                    optionsList = AndamanNicobar;
                    break;
                case "Chandigarh":
                    optionsList = Chandigarh;
                    break;
                case  "Dadar and Nagar Haveli":
                    optionsList = DadraHaveli;
                    break;
                case "Daman and Diu":
                    optionsList = DamanDiu;
                    break;
                case  "Delhi":
                    optionsList = Delhi;
                    break;
                case "Lakshadeep":
                    optionsList = Lakshadeep ;
                    break;
                case  "Pondicherry":
                    optionsList = Pondicherry;
                    break;
            }
            
            
              for(var i = 0; i < optionsList.length; i++){
                htmlString = htmlString+"<option value='"+ optionsList[i] +"'>"+ optionsList[i] +"</option>";
              }
              $("#inputDistrict").html(htmlString);
            
            });
            </script>
            
            <script>
              $(document).ready(function () {
                const selectedState = "<%= property.state %>";  // server-side value
                const selectedCity = "<%= property.city %>";    // server-side value
            
                if (selectedState && selectedCity) {
                  $('#inputState').val(selectedState).change(); // Trigger state change to populate cities
            
                  setTimeout(function () {
                    const stateKey = selectedState.replace(/\s/g, '');
                    const cities = window[stateKey];
                    const $cityDropdown = $('#inputDistrict');
                    $cityDropdown.empty();
            
                    cities.forEach(function (city) {
                      const selected = city === selectedCity ? 'selected' : '';
                      $cityDropdown.append(`<option value="${city}" ${selected}>${city}</option>`);
                    });
                  }, 300); // delay to make sure DOM updates
                }
              });
            </script>
            <%- include('../../partials/admin/footer') %>